#page-lading{
    /* esses dois abaixo força com que essa cor pegue em 100 por cento da tela  */
    width: 100vw;
    height: 100vh;

    background: linear-gradient(329.54deg, rgba(239, 241, 129, 0.99) 0%, rgba(164, 234, 177, 0.994884) 0.01%, #01C7C7 99.93%, #5BE2E0 99.94%, #6DDFE0 99.95%);
    /* para centralizar vertical e horizontal */
    display:flex;
    justify-content: center;
    align-items: center;
}



#page-lading .content-wrapper{
    position: relative;

    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-width: 680px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;


}